.holder {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    width: 200px;
    height: 200px;
}

.item {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
